{% load staticfiles %}

<!DOCTYPE HTML>
<html>
<head>
    <title></title>
    <!-- Bootstrap libraries -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'q2/style.css' %}" />
    <script src="{% static 'q2/app.js' %}" ></script>
    <style>
        .mark-btn-wrapper {
            text-align: center;
            margin-left: 140px;
        }
        .mark-btn {
            display: inline-block;
            width: 150px;
            margin: 30px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
      <h3 class="navbar-header">
          图像质量评价系统
      </h3>
    </nav>
    <div id="content" style="width: 1000px; margin: auto;">
    <div id="user-panel">
        <label for="user-code-input">请输入代号</label>
        <input type="text" id="user-code-input"/>
        <button id="login-confirm-btn" class="btn btn-primary">确认</button>
        <div>
            <h3>使用指导</h3>
            <p>在本次测试中，您将会看到340组图片。每组里面有两张不同的失真图片。您需要根据您的主观判断来对这两张图片的质量进行评价。</p>
            <p>您将会在每组图片下方看到三个按钮，其中，左侧的按钮“1”代表您认为左侧图片优于右侧的图片，中间的“0”代表两幅图片基本相近，右边的按钮“-1”代表左侧图片劣于右侧图片</p>
        </div>
    </div>
    <div id="qa-panel">
        <div id="remain-notice"></div>
        <div class="row">
            <div id="first-image" class="col-md-4 col-md-offset-1"></div>
            <div id="second-image" class="col-md-4 col-md-offset-2"></div>
        </div>
        <div id="mark-list" class="row" style="margin-top: 30px">
            <div class="col-md-2 mark-btn-wrapper">
                <button class="mark-btn btn btn-default" data-score="1">1</button>
            </div>
            <div class="col-md-2 mark-btn-wrapper">
                <button class="mark-btn btn btn-default" data-score="0">0</button>
            </div>
            <div class="col-md-2 mark-btn-wrapper">
                <button class="mark-btn btn btn-default" data-score="-1">1</button>
            </div>
{#            <button class="mark-btn col-md-2 btn btn-default" data-score="1">1</button>#}
{#            <button class="mark-btn col-md-2 btn btn-default" data-score="0">0</button>#}
{#            <button class="mark-btn col-md-2 btn btn-default" data-score="-1">1</button>#}
        </div>
    </div>
    </div>
</body>
</html>
